.home-container {
    background: color($colors, primary);
    color: color($colors, light);
    margin-top: 30px;
}

.toolbar-title {
    text-align: center;
}

.temperature {
    font-size: 50px;
    text-align: center;
    font-weight: normal;
}

